<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">


	<util:map id="signalConfigMap" scope="prototype"
		map-class="java.util.HashMap" key-type="java.lang.Integer">
		<entry key="1" value-ref="signal1" />
        <entry key="2" value-ref="signal2" />
		<entry key="3" value-ref="signal3" />
	</util:map>



	<bean id="signal1"
		class="com.zenTrading.component.SignalConfig">
		<property name="params">
			<array value-type="java.lang.Integer">
				<value>1</value>
			</array>
		</property>
		<property name="values">
			<array value-type="java.lang.Integer">
				<value>60</value>
			</array>
		</property>
		<property name="methods">
			<array value-type="java.lang.String">
				<value>setUp</value>
				<value>setAlgoParam</value>
				<value>performCalc</value>
				<value>submitToMarket</value>
			</array>
		</property>
	</bean>
	<bean id="signal2"
		class="com.zenTrading.component.SignalConfig">
		<property name="params">
			<array value-type="java.lang.Integer">
				<value>1</value>
			</array>
		</property>
		<property name="values">
			<array value-type="java.lang.Integer">
				<value>80</value>
			</array>
		</property>
		<property name="methods">
			<array value-type="java.lang.String">
				<value>reverse</value>
				<value>performCalc</value>
				<value>submitToMarket</value>
			</array>
		</property>
	</bean>


	<bean id="signal3"
		class="com.zenTrading.component.SignalConfig">
		<property name="params">
			<array value-type="java.lang.Integer">
				<value>1</value>
				<value>2</value>
			</array>
		</property>
		<property name="values">
			<array value-type="java.lang.Integer">
				<value>90</value>
				<value>15</value>
			</array>
		</property>
		<property name="methods">
			<array value-type="java.lang.String">
				<value>setAlgoParam</value>
				<value>setAlgoParam</value>
				<value>performCalc</value>
				<value>submitToMarket</value>
			</array>
		</property>
	</bean>
	
	</beans>